VITE_GITCOIN_API_KEY=
VITE_GITCOIN_SCORER_ID=
VITE_SOLANA_RPC_URL=
VITE_SOLANA_RPC_FALLBACK=
VITE_SOLANA_WS_URL=
SOLANA_RPC_URL=
SOLANA_WS_URL=
AIRDROP_TOKEN_MINT=
AIRDROP_AMOUNT=
CLAIM_TREASURY_SECRET=
HUMAN_MIN_SCORE=5
MIN_WALLET_AGE_DAYS=1
VITE_HUMAN_MIN_SCORE=5
VITE_MIN_WALLET_AGE_DAYS=1
VITE_MIN_SOL_FOR_CLAIM=0.000005
CAMPAIGN_ID=devnet-default
